# Terraform local files
.DS_Store
.venv/
__pycache__/
*.pyc
.pytest_cache/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/crash.log
terraform/*.tfvars.json
terraform/override.tf
terraform/override.tf.json
lambda/*.zip
*.zip
bkp/
terraform.tfstate
